.footer {
	width: 100%;
	height: 1000px;
	background-color: $black;
    position: relative;
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 1000px;
    }
    &__title {
        text-align: center;
        margin: 0px auto 50px auto;
        font-weight: 300;
        font-family: Adieu Light,sans-serif;
        font-size: 3.75rem;
        line-height: 3.125rem;
        color: $white;
    }
    &__text {
        text-align: center;
        margin: 0px auto 50px auto;
        font-weight: 300;
        font-family: Adieu Light,sans-serif;
        font-size: 20px;
        line-height: 3.125rem;
        color: $white;
    }
    &__menu {
        &-list {
            height: 200px;
            width: 732px;
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-item {
            border: 3px solid $golden;
            background: $black;
            &:hover {
                background: $golden;
            }
            &:nth-child(even) {
                margin-top: auto;
            }
            &:nth-child(odd) {
                margin-bottom: auto;
            }
            & p {
                width: 61px;
                height: 100%;
                text-align: center;
                color: $golden;
            }
            & svg {
                margin-bottom: 15px;
                fill: $golden;
            }
        }
        &-link {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
    &__support {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: auto auto 50px 50px;
        &-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 35px;
            & svg {
                fill: $golden;
            }
        }
        &-text {
            color:$gray;
            font-family: "Mak";
            font-size: 16px;
            font-weight: 600;
        }
        &-name {
            margin-left: 15px;
            font-weight: 300;
            font-family: "Adieu Light", sans-serif;
            font-size: 19px;
            line-height: 3.125rem;
            color: $white;
        }
    }
    &__date {
        position: absolute;
        bottom: 10px;
        left: 50%;
        &-text {
            font-weight: 300;
            font-family: Adieu Light,sans-serif;
            font-size: 14px;
            line-height: 3.125rem;
            color: $gray;
        }
    }
    &__menu {
        &-card {
            background: $black;
            text-align: center;
            padding: 38px;
            transition: .4s ease;
            &:hover {
                background: $golden;
                transition: .4s ease;
            }
        }
    }
}
.footer__menu-card .footer__menu-text {
    color: $golden;
    transition: .4s ease;
    width: 66px;
    font-weight: 600;
    font-family: "Adieu Light", sans-serif;
    font-size: 14px;
}
.footer__menu-card .footer__menu-icons svg {
    fill: $golden;
    transition: .4s ease;
}
.footer__menu-card:hover .footer__menu-text {
    color: $black;
    transition: .4s ease;
}
.footer__menu-card:hover .footer__menu-icons svg {
    fill: $black;
    transition: .4s ease;
}