@media (max-width: 1740px) {
    .header__menu {
        right: 0;
        padding: 40px 0px 70px 0px;
    }
    .header__avatar {
        left: 0;
    }
    .header__text-two {
        left: 0;
    }
    .header__text-one {
        right: 0;
    }
    .calisthenics__images-2 {
        right: -40px;
    }
    .skating__images-2 {
        right: -10px;
    }
    .street__images-2 {
        right: 85px;
    }
}
@media (max-width: 1655px) {
    .poster__images-2 {
        right: 0px;
    }
    .poster__bg {
        right: 3%;
    }
    .calisthenics__images-2 {
        right: 0px;
    }
    .street__images-2 {
        right: 120px;
    }
}
@media (max-width: 1650px) {
    .street__images-2 {
        right: 130px;
    }
    .skating__images-4 {
        top: 1810px;
        right: 70px;
    }
}
@media (max-width: 1625px) {
    .header__menu {
        right: 50px;
    }
    .header__text-one {
        padding: 40px 0px 40px 40px;
        width: 400px;
        height: 25%;
    }
    .street__images-2 {
        width: 700px;
        height: 860px;
        right: 180px;
    }
    .street__images-5 {
        right: 55px;
    }
    .skating__images-4 {
        top: 1834px;
        right: 130px;
    }
    .skating__images-2 {
        height: 850px;
        right: 70px;
    }
    .calisthenics__images-4 {
        right: 110px;
    }
    .calisthenics__images-2 {
        right: 35px;
    }
    .poster__images-2 {
        right: 25px;
    }
    .poster__text-2 {
        left: 890px;
    }
}
@media (max-width: 1500px) {
    .poster__images-3 {
        width: 1200px;
    }
    .poster__text-2 {
        left: 820px;
    }
    .calisthenics__images-2 {
        width: 700px;
        height: 850px;
        top: 575px;
        right: 55px;
    }
    .calisthenics__text-2 {
        left: 800px;
    }
    .skating__images-2 {
        width: 700px;
        height: 800px;
        top: 550px;
        right: 130px;
    }
    .skating__images-4 {
        width: 800px;
        height: 430px;
        top: 1890px;
        right: 190px;
    }
    .street__text-2 {
        width: 835px;
    }
    .skating__circle-container {
        right: 350px;
    }
}
@media (max-width: 1485px) {
    .header__text-one {
        right: 10px;
    }
    .poster__bg {
        right: 5%;
    }
    .poster__images-1 {
        width: 1350px;
        left: 85px;
    }
    .poster__images-3 {
        width: 1100px;
    }
    .poster__text-2 {
        left: 740px;
    }
    .poster__images-2 {
        right: 100px;
    }
    .calisthenics__images-1 {
        width: 1100px;
    }
}
@media (max-width: 1455px) {
    .street__images-2 {
        right: 130px;
    }
    .skating__images-4 {
        top: 1870px;
        right: 70px;
    }
    .poster__images-1 {
        width: 1285px;
        left: 90px;
    }
    .poster__text-2 {
        left: 700px;
    }
    .calisthenics__text-2 {
        left: 700px;
    }
    .skating__images-1 {
        width: 1240px;
    }
    .street__images-2 {
        width: 650px;
        height: 820px;
        right: 210px;
    }
    .skating__circle-container {
        right: 320px;
    }
}
@media (max-width: 1390px) {
    .skating__circle-container {
        right: 250px;
    }
}
@media (max-width: 1330px) {
    .header__circle-shape-2 {
        right: 11%;
    }
    .header__circle-shape-4 {
        right: 16%;
    }
    .header__circle-shape-3 {
        left: 11%;
    }
    .header__circle-shape-5 {
        left: 14%;
    }
    .poster__images-1 {
        width: 1200px;
        height: 690px;
        top: 170px;
        left: 90px;
    }
    .poster__text-1 {
        left: -125px;
    }
    .poster__images-3 {
        width: 1000px;
    }
    .poster__text-2 {
        left: 600px;
    }
    .calisthenics__images-1 {
        width: 1000px;
    }
    .calisthenics__images-2 {
        right: 90px;
    }
    .calisthenics__images-3 {
        width: 1100px;
    }
    .calisthenics__images-4 {
        right: 160px;
    }
    .calisthenics__text-2 {
        left: 630px;
    }
    .skating__images-1 {
        width: 1100px;
    }
    .skating__images-3 {
        width: 850px;
        height: 482px;
        top: 1390px;
        left: 80px;
    }.skating__text-2 {
        top: 1820px;
    }
    .skating__images-4 {
        top: 1860px;
        right: 100px;
    }.skating__text-2 {
        left: 205px;
        font-size: 60px;
    }
    .street__images-1 {
        width: 1200px;
        left: 35px;
    }
    .street__text-2 {
        top: 1950px;
        font-size: 40px;
        width: 745px;
    }
    .street__images-3 {
        width: 600px;
        height: 870px;
        left: 30px;
    }
    .street__images-5 {
        width: 650px;
        height: 965px;
    }
    .street__images-4 {
        width: 600px;
        height: 885px;
        top: 1380px;
        left: 70px;
    }
    .skating__circle-container {
        right: 200px;
    }
}
@media (max-width: 1250px) {
    .street__text-2 {
        left: 450px;
    }
    .street__images-1 {
        width: 1160px;
        left: 35px;
        height: 700px;
    }
    .skating__images-4 {
        top: 1900px;
    }
    .skating__images-2 {
        top: 625px;
    }
    .skating__images-1 {
        left: 80px;
    }
    .calisthenics__text-2 {
        left: 600px;
    }
    .poster__images-1 {
        width: 1150px;
        height: 690px;
        top: 170px;
        left: 50px;
    }
    .poster__bg {
        right: 8%;
    }
    .poster__text-1 {
        left: -230px;
    }
    .poster__images-2 {
        right: 70px;
    }.poster__images-3 {
        width: 950px;
        height: 850px;
        top: 1800px;
        left: 50px;
    }
    .poster__text-2 {
        left: 510px;
    }
}
@media (max-width: 1200px) {

}
/* ---------------------------------------------------------------------- */