.styles {
    overflow: hidden;
	background-color: $black;
    overflow: hidden;
    padding: 7rem 0 7rem 0;
    position: relative;
    z-index: 10;
}
.menu {
	&__item {
		position: relative;
		padding: 1.6vw 0 50px 0;
		margin: 4px;
		&-container {
			position: absolute;
			top: 0;
			left: 0;
			overflow: hidden;
			color: $white;
			pointer-events: none;
			mix-blend-mode: difference;
			& span {
				font-family: "Mak";
				text-transform: uppercase;
			}
		}
		&-text {
			width: -webkit-fit-content;
			width: -moz-fit-content;
			width: fit-content;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			position: relative;
			-webkit-animation: menu__item 5s linear infinite;
			animation: menu__item 5s linear infinite;
			-webkit-animation-play-state: paused;
			animation-play-state: paused;
			opacity: 0;
			-webkit-transition: opacity 0.1s;
			transition: opacity 0.1s;
			padding: 2vw 0;
		}
		&-link {
			display: inline-block;
			cursor: none;
			position: relative;
			color: $white;
			-webkit-transition: opacity 0.4s;
			transition: opacity 0.4s;
			font-family: "Mak";
			text-transform: uppercase;
			-webkit-transition: all 0.4s;
			transition: all 0.4s;
			& span {
				font-size: 32px;
			}
			&::before {
				all: initial;
				text-transform: uppercase;
				counter-increment: menu;
				position: absolute;
				bottom: 60%;
				left: 0;
				pointer-events: none;
			}
			&:hover {
				-webkit-transition-duration: 0.1s;
				transition-duration: 0.1s;
				opacity: 0;
				& + .menu__item-img {
					opacity: 1;
					-webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0)
						rotate3d(0, 0, 1, 4deg);
					transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 4deg);
					-webkit-transition: all 0.4s;
					transition: all 0.4s;
				}
			}
		}
		&-img {
			pointer-events: none;
			position: absolute;
			height: 50vh;
			max-height: 300px;
			opacity: 0;
			left: 100%;
			top: 50%;
			-webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0)
				translate3d(0, 20px, 0);
			transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
		}
	}
}
.style__menu {
	padding: 0vh 0 0 0vh;
	--offset: 20vw;
	--move-initial: calc(-25% + var(--offset));
	--move-final: calc(-50% + var(--offset));
	font-size: 8vw;
	border-left: 5px solid $white;
}
.menu__item-link:hover ~ .menu__item-container .menu__item-text {
	-webkit-animation-play-state: running;
	animation-play-state: running;
	opacity: 1;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
.menu__item-link,
.menu__item-container span {
	white-space: nowrap;
	font-size: 8vw;
	padding: 1.6vw 1vw;
	font-weight: 900;
}
@-webkit-keyframes menu__item{
	0% {
		-webkit-transform: translate3d(var(--move-initial), 0, 0);
		transform: translate3d(var(--move-initial), 0, 0);
	}
	100% {
		-webkit-transform: translate3d(var(--move-final), 0, 0);
		transform: translate3d(var(--move-final), 0, 0);
	}
}
@keyframes menu__item {
	0% {
		-webkit-transform: translate3d(var(--move-initial), 0, 0);
		transform: translate3d(var(--move-initial), 0, 0);
	}
	100% {
		-webkit-transform: translate3d(var(--move-final), 0, 0);
		transform: translate3d(var(--move-final), 0, 0);
	}
}